body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
}

td {
    border: 0.030em solid #000000;
    width: 1.3em;
    height: 1.3em;
    font-size: 4.5em;
    text-align: center;
    background: linear-gradient(#ff0400, #e100ff);
}

.win {
    background-color: green;
    color: white;
}